<a href="https://colab.research.google.com/github/narutsoo/tutorial/blob/master/First_XGBoost_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How to Develop Your First XGBoost Model in Python

*Reference*

* https://machinelearningmastery.com/develop-first-xgboost-model-python-scikit-learn/

Import related libraries

In [1]:
import xgboost
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import pandas as pd

To import dataset (pima-indians-diabetes : 8 input features, 2 classes)

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv', header=None)

In [3]:
data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

To change dataframe to numpy array (define input and target variables)

In [4]:
dataset = data.values

In [5]:
X = dataset[:,0:8]
y = dataset[:,8]

To separate train & test dataset

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

To create the model

In [7]:
model = xgboost.XGBClassifier()

In [8]:
model.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

To predict the results from test set

In [9]:
y_pred = model.predict(X_test)

To print accuracy

In [10]:
print ('Accuracy =', round(100*accuracy_score(y_test, y_pred), 2))

Accuracy = 78.35