<a href="https://colab.research.google.com/github/narutsoo/tutorial/blob/master/Multi_Class_Classification_Keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Topic : Multi-Class Classification Tutorial with the Keras Deep Learning Library

*Reference*
* https://machinelearningmastery.com/multi-class-classification-tutorial-keras-deep-learning-library/

Import related libraries

In [30]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from keras.utils import np_utils
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score

Import Data From URL (iris dataset: 4 input features, 3 classes)

In [31]:
data = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/iris.csv', header=None)

In [32]:
print (data.shape)

data.head()

(150, 5)

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

Change from dataframe to numpy array (and separated input and target variables

In [33]:
dataset = data.values

In [34]:
X = dataset[:,0:4]
y = dataset[:,4]

In [35]:
X = X.astype(float)

To do encoder and one hot encoding

In [36]:
label_enc = LabelEncoder()
y_enc = label_enc.fit_transform(y)

In [37]:
y_enc

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [9]:
# label_encoder = LabelEncoder()
# y_encoder = label_encoder.fit(y)
# y_encoder = label_encoder.transform(y)

In [10]:
y_dummy = np_utils.to_categorical(y_enc)

In [11]:
# X_train, X_test, y_train, y_test = train_test_split(X, y_enc, test_size=0.33, random_state =1)

To create a baseline model

In [38]:
def baseline_model():
  # Create the model
  model = Sequential()
  model.add(Dense(8, input_dim=4, activation='relu'))
  model.add(Dense(3, activation='softmax'))
  # Compile the model
  model.compile(loss='categorical_crossentropy',metrics=['acc'] ,optimizer='adam')
  return model

In [39]:
estimator = KerasClassifier(build_fn=baseline_model, epochs=200, batch_size=5, verbose=0)

In [40]:
kfold = KFold(n_splits=10, shuffle=True)

To perform cross validation

In [41]:
results = cross_val_score(estimator, X, y_dummy, cv = kfold)

In [42]:
print ('Accuracy (mean) =' ,(round(results.mean()*100, 2)))
print ('Accuracy (std) =', (round(results.std()*100, 2)))

Accuracy (mean) = 98.67
Accuracy (std) = 4.0